<h1> Administration Building </h1>

<div class="card-group">
  <div class="card">
    <img src="https://mapcity-zoom.s3.amazonaws.com/images/uploads/proyectos/6080_image_19bba77bed249cfe602ed679d25b6b84.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buildings</h5>
      <p class="card-text">This section contain building list.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <%= link_to "Buildings", buildings_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card">
    <img src="https://i1.wp.com/chocale.cl/wp-content/uploads/2019/03/loft-departamento.jpg?fit=1000%2C666&ssl=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apartments</h5>
      <p class="card-text">This section contain apartments list</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <%= link_to "Apartments", apartments_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card">
    <img src="https://www.trendtic.cl/wp-content/uploads/2019/12/Oficina-Liferay.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Officce</h5>
      <p class="card-text"> In the future you will find your office here.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <h5> Cooming Soon</h5>
    </div>
  </div>
</div>
